@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.div{

    
    background-image: url("https://img.freepik.com/free-vector/gradient-valentine-s-day-background_23-2149242406.jpg?w=740&t=st=1707909911~exp=1707910511~hmac=ce3bbf2c73247ecbab5e7640067850fad7afb9b897aa3b2ab7b4213f6951bc24");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 15%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.btn {

    height:100px;
    
    width:100px;
    opacity: 0.7;
    
    background: url("yes.svg");
    background-size: 100%;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.btn:hover{
    opacity: 1;
}
.nobutton{
    opacity: 0.7;
    height:100px;
    
    width:100px;
    
    background: url("./no.svg");
    background-size: 100% 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    opacity: 0.9; margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.nobutton:hover{
    opacity: 1;
}

h1{
    font-family: "Dancing Script";
    font-size: 50px;
    
}
